.desc-text {
  display: inline-block;
  background-color: aqua;
}

.desc-text-large {
  font-size: x-large;
}

.font-color-red {
  color: red;
}

.selected {
  text-decoration: underline;
  font-size: large;
  color: brown;
}
