<span>{{ title }} app is running!</span>
<h4>{{userService.selectedName}}</h4>
<hr>


<itd-user-list
  [userList]="['frank', 'heike','peter', 'saban']"
></itd-user-list>
<hr>
<itd-user-list
  [userList]="['frank', 'petra','hans']"
></itd-user-list>

<!--
<itd-pipe-samples></itd-pipe-samples>
<button itdDanger="na ... wirklich?" (confirmed)="log('confirmed')">Label</button>




<itd-directive-samples></itd-directive-samples>


-->

<!--
<itd-countdown
  duration="1000"
  (percentValChg)="newPercentVal( $event)"
  (completed)="countdownCompleted()"></itd-countdown>
<itd-countdown [duration]="2000" ></itd-countdown>
<itd-countdown [duration]="countdownDuration" ></itd-countdown>
<itd-countdown ></itd-countdown>

<itd-countdown style="width: 50%; display: inline-block"></itd-countdown>
<itd-countdown style="width: 50%; display: inline-block"></itd-countdown>
<itd-binding-samples></itd-binding-samples>
-->

<!--
<itd-user></itd-user>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore dolores eum iusto modi necessitatibus nostrum sequi! Consectetur dicta ea hic minus, mollitia nam necessitatibus nihil officia quidem quod, sed.</div>
-->
<hr>
<router-outlet></router-outlet>
