<nav>
  <a routerLink="dash" routerLinkActive="active">dash</a> |
  <a routerLink="user" routerLinkActive="active">user</a> |
  <a routerLink="bindings" routerLinkActive="active">binding</a>
</nav>
<hr>
<span>{{ title }} app is running!</span>
<!--<itd-user></itd-user>-->
<hr>
<router-outlet></router-outlet>
<footer>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut beatae dicta dolor harum odit similique. Asperiores doloribus reiciendis sequi? Dolores ducimus enim facere fugiat iusto laudantium magni officiis quas?
</footer>
