<span>{{ title }} app is running!</span>
<hr>

<itd-user-list
  [userList]="['frank', 'heike']"
></itd-user-list>

<!--
<itd-countdown
  duration="1000"
  (percentValChg)="newPercentVal( $event)"
  (completed)="countdownCompleted()"></itd-countdown>
<itd-countdown [duration]="2000" ></itd-countdown>
<itd-countdown [duration]="countdownDuration" ></itd-countdown>
<itd-countdown ></itd-countdown>

<itd-countdown style="width: 50%; display: inline-block"></itd-countdown>
<itd-countdown style="width: 50%; display: inline-block"></itd-countdown>
<itd-binding-samples></itd-binding-samples>
-->

<!--
<itd-user></itd-user>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolore dolores eum iusto modi necessitatibus nostrum sequi! Consectetur dicta ea hic minus, mollitia nam necessitatibus nihil officia quidem quod, sed.</div>
-->
<hr>
<router-outlet></router-outlet>
